#img-bg{
    background-image: url("../../assets/img/heic0604a.jpg");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mb{
    margin-top: 25%;
}

.color{
    color:white;
    font-size: 12pt;
}

.font-login{
    font-size:24pt;
    color:white;
}
